* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:grid;
  grid-template-columns: 1fr 1fr;
  background-image: url(../img/bg.png);
  height: 100vh;
  overflow: hidden;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection,
span::selection,
br::selection{
  background:yellow;
}

ul, ol{
  list-style-type: none;
}

p, span, ol, ul, a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4d4d4d;
}

li:hover{
  margin-left:0.5em;
  list-style-type: circle;
}

a, span {
  font-weight: bold;
  text-decoration: none;
}

a:hover{
  text-decoration: dotted;
}


body > * {
  padding:10em 4em;
}  

body > .left{
  padding-left:10em;
}

body > .left > *{
  margin-bottom: 10em;
}
body > .right > *{
  margin-bottom: 4em;
}



body > .right{
  overflow-y: scroll;
}

.socials__nav img{
  width:100px;
  transition: 200ms;
}

.socials__nav img:hover, a:hover{
  background:#eee;
  border-radius: 5px;
}